/******** sidebar color variables *********/
$sidebar_bg : #222d32;
$sidebar_txt_color : #b8c7ce;
$logo_bg : #367fa9;
$logo_color : #fff;

/******** footer color variables *********/
$copyright_footer_bg_color : #fff;
$copyright_footer_txtColor : #444;

/******** header color variables *********/
$header_bg : #3c8dbc;
$header_txt : #fff;

/******** content color variables *********/
$content_bg : #eee;
$body_txt_color : #222;

/******** button color variables *********/
$button_bg_color : #111f26;
$button_txt_color : #fff;



/********** global variables ***********/
$body_txt_size : 13px;


/********** width variables ***********/
$sidebar_width : 220px;
$content_Width : calc(100% - 220px);
$logo_circle_width_height : 150px;