/******** sidebar color variables *********/
$sidebar_bg : #223d4b;
$sidebar_txt_color : #b8c7ce;
$logo_bg : #223d4b;
$logo_color : #fff;

/******** footer color variables *********/
$copyright_footer_bg_color : #111f26;
$copyright_footer_txtColor : #ffffff;

/******** header color variables *********/
$header_bg : #ffffff;
$header_txt : #223d4b;

/******** content color variables *********/
$content_bg : #ecf0f5;
$body_txt_color : #222;

/******** button color variables *********/
$button_bg_color : #111f26;
$button_txt_color : #fff;



/********** global variables ***********/
$body_txt_size : 13px;


/********** width variables ***********/
$sidebar_width : 220px;
$content_Width : calc(100% - 220px);
$logo_circle_width_height : 150px;